.slick-prev:before,
.slick-next:before {
  color: #ecc94b;
  opacity: 1;
}
.slick-prev {
  left: 1%;
  z-index: 20;
}
.slick-next {
  right: 1%;
}
.slick-list {
  margin: 0 -5px;
  padding: 10px 0;
  overflow-y: auto;
}
.slick-slide > div {
  padding: 0 5px;
}
.hover:hover {
  scale: 1.05;
  transition: all 0.5s;
}
