.slick-prev:before,
.slick-next:before {
  color: #ecc94b;
  opacity: 1;
}
.slick-prev {
  left: 1%;
  z-index: 20;
}
.slick-next {
  right: 1%;
}
.slick-list {
  margin: 0 -5px;
  padding: 10px 0;
  overflow-y: auto;
}
.slick-slide > div {
  padding: 0 5px;
}
.hover:hover {
  scale: 1.05;
  transition: all 0.5s;
}
.remix-link:hover {
  text-decoration: underline;
}
.on {
  color: #ecc94b;
}
.off {
  color: #ccc;
}
.star {
  font-size: 20px;
}
body {
  min-height: 100vh !important;
  display: flex;
  flex-direction: column;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.progress {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  left: 0;
  z-index: 50;
  height: 0.25rem;
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
.bar {
  background-image: linear-gradient(to right, #ebd47f);
  background-color: #ecc94b;
  transition-property: all;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  height: 100%;
}
.idle {
  transition-property: none;
  width: 0;
  opacity: 0;
}
.submit {
  width: 33.333333%;
}
.load {
  width: 83.333333%;
}
.finish {
  width: 100%;
}
